.visible{display: block;}
.clear{clear: both;}
nav{background-color: #e0e0e0;}
body{background-color: white;background-attachment:fixed;background-image: url(img/background.jpg); background-size: 100%;background-repeat: no-repeat;}
body > div{display: none;}
body > div#header{display: block;}
#register{display: none;}
#compare{display: none;font-size: 20px;}
#register .input-field{margin-top: 20px;}
#register.visible{display: block;}
#compare.visible{display: inline-block;}
.iconMenu{font-size:35px;}

#header .logoContainer{text-align: center;margin-top: 20px;}
.appLogo{max-width: 100%;max-height: 150px;margin:auto;display:inline-block;}

.profileItem {display: inline-block;width: 50%;padding: 15px;}
.profileItem .profileContainer{background: #eeeeee;padding: 10px;}
.profileItem .profileContainer .competitiveData {border-right: 1px solid #757575;}
.profileItem .picblock{padding:20px;display:inline-block;float:left;}
.profileItem .picblock .picProfileContainer{display:inline-block;border-radius: 125px;margin: 5px;width: 128px;height: 128px;background-size:128px 128px!important;background-repeat: no-repeat!important;}
.profileItem .picblock .picProfileContainer .profilePic{display:inline-block;padding: 20px;height:200px;width: 200px;text-align: center;background-position: center!important;margin: -37px;}
.profileItem .dataProfileContainer{margin-left:200px;}
.profileItem .dataProfileContainer .title{color: #f99e1a;font-family: 'futura_no2_d_demi_boldregular';width:130px;display: inline-block;}
.profileItem .dataProfileContainer h3{font-family: 'bignoodletooobliqueitalic';margin:15px 0;padding:0 0px 10px 0px; }
.profileItem .dataProfileContainer .lvlandrank{font-family: 'bignoodletooobliqueitalic';padding:10px;font-size: 20px;}

h2{color:#424242;font-family: 'bignoodletooobliqueitalic';font-weight: 800;}
h4{color:#424242;font-family: 'bignoodletooobliqueitalic';font-weight: 400;padding: 5px 0px 10px;margin:0;}
nav .nav-wrapper h2{padding-left: 15px;}
nav .nav-wrapper h2 > div > a{height: 55px;line-height: 46px;margin-top: 4px;margin-right: 4px;display: inline-block;}
nav .nav-wrapper h2 > div > a > i{height: 55px;line-height: 46px;}
#info-params .input-field{margin-top: 5px;}
#info-params .input-field .caret{margin-top: -20px;}
#usersAccount h2{color:#424242;font-family: 'bignoodletooobliqueitalic';font-weight: 800;padding: 5px 10px;}
#usersAccount h4{color:#424242;font-family: 'bignoodletooobliqueitalic';font-weight: 400;padding: 5px 0px 10px;margin:0;}
#usersAccount h2 > div > a.btn{line-height: 16px;display: inline-block;}
#usersAccount h2 > div > a > i{height: auto;}
span.userlvl {font-size: 20px;color: #f99e1a;margin-left: 20px;}
span.rankNumber {float: right;color: #9A9A9A;}
#usersAccount .btn.btn-params{height: auto;padding: 0px 15px;line-height: 0px;vertical-align: middle;font-size: 20px;margin-top: 4px;}
#usersAccount .btn.btn-params i{line-height: 45px;}

@media screen and (max-width:1200px) {
	.profileItem {display: block;width: 100%;padding: 15px;}
	.profileItem .profileContainer .competitiveData {border-right: none;}
}

