<div class="col s12 m12">
    <div class="deathClassic"><span class="title">Morts :</span> {{userHero.Deaths}}</div>
    <div class="killClassic"><span class="title">Tués :</span> {{userHero.Eliminations}}</div>
    <div class="dmgClassic"><span class="title">Dommage fait :</span> {{userHero.DamageDone}}</div>
    <div class="dmgClassic"><span class="title">Soins fait :</span> {{userHero.HealingDone}}</div>
</div>