<li class='profileItem'>
	<div class='profileContainer z-depth-2'>
		<div class='picblock'>
		  <div class='picProfileContainer' style='background:url({{userData.data.avatar}}) 0px 0px no-repeat;'>
			<div class='profilePic' style='background:url({{userData.data.levelFrame}});'>
			</div>
		  </div>
		</div>
		<div class='dataProfileContainer'>
		  <div class="userData col s12 m12 l12">
			<div class="col s12 m12 l12">
			  <div><h3 class='userName'>
			  <span class='name'>{{userData.data.username}}</span><span class='userlvl'>LVL :{{userData.data.level}}</span> 
			  {{#isRanked}}
				<span class="rankNumber">#{{userData.data.competitive.rank}}</span>
			  {{/isRanked}}
			  </h3></div>
			</div>
		  </div>
		  <div class="row">
			<div class="classicData col s12 m12 l12">
			  <div class="col s12 m12">
				<h4>Parties Classique</h4>
				<div class="timePlayClassic"><span class="title">Temps en jeu :</span> {{userData.data.playtime.quick}}</div>
				<div class="gameWinClassic"><span class="title">Parties gangées :</span> {{userData.data.games.quick.wins}}</div>
<!-- 				<div class="gamePlayClassic"><span class="title">Parties jouées :</span> {{userData.data.games.quick.played}}</div>
<div class="gameLostClassic"><span class="title">Parties perdues :</span> {{userData.data.games.quick.lost}}</div> -->
			  </div>
			  <div id="more-info-{{accountName}}">
			  </div>
			</div>
		  </div>
		</div>
	</div>
</li>